{# src\View\Home\home.html.twig #}
{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page - {{ name }}!</h1>
    <p>This is the content of the home page.</p>
{% endblock %}