{# src/View/Items/footer.html.twig #}
<footer class="bg-black text-white py-8">
    <div class="container px-4 lg:px-8 mx-auto">
        <div class="flex flex-col max-md:text-center md:flex-row max-md:justify-center gap-8 md:justify-between">
          <nav class="flex flex-col sm:flex-row max-md:mx-auto">
            <a href="#" class="max-sm:py-2 px-2">Privacy Policy</a>
            <a href="#" class="max-sm:py-2 px-2">Terms of Use</a>
            <a href="#" class="max-sm:py-2 px-2">Guideline</a>
          </nav>
          <p>Laser &copy; 2024 | For contacting us: <a href="mailto:{{contactEmail}}">{{ contactEmail }}</a></p>
        </div>
      </div>
</footer>


