{# src/View/Items/navbar.html.twig #}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product.php">Products</a></li>
        <li><a href="/contact.php">Contact Us</a></li>
    </ul>
</nav>