{# src\View\Items\products.html.twig #}
{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Products{% endblock %}

{% block content %}

    <h1>Product List of {{ parent() }}</h1>

    <ul>
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>

{% endblock %}
