{# src\View\Items\products.html.twig #}
{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Products{% endblock %}

{% block content %}
    <main class="overflow-hidden">
        <section class="mt-10 flex justify-center">
            <h1 class="text-4xl lg:text-5xl leading-tight font-bold text-black mb-6">Product List of {{ parent() }}</h1>
        </section>
    
        <ul class="mt-10 flex justify-around">
            {% for product in products %}
            <a href="/details.php?productName={{ product }}">{{ product }}</a>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
